<template>
<div>
{{ schedules }}
</div>
</template>
<script>
import axios from 'axios'
export default{
    data(){
        return{
            info:null,
            schedules:[]
        }
    },
    beforeMount(){
        axios.get('http://127.0.0.1:8000/event?schedule_id=ee8f4e1c-e402-4699-af7d-4ffd2eadd975')
    .then(response => {this.schedules=response.data})
  }
}

</script>