<template>
  <ValidationObserver v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <ValidationProvider
        name="Content type"
        rules="required"
        v-slot="{ errors }"
      >
        <label for="">Select Content Type</label>
        <select name="content_type" class="form-control" v-model="content_type">
          <option value="" selected="true" disabled="disabled"
            >Select an Option</option
          >
          <option value="pl">Playlist</option>
          <option value="me">Media</option>
          <option value="ap">App</option>
        </select>
        <span>{{ errors[0] }}</span>
      </ValidationProvider>
      <br />

      <label for="">Content</label>
      <select
        name="selected_content"
        v-model="selected_content"
        class="form-control"
      >
      </select>
      <br />
      <ValidationProvider
        name="First Start"
        rules="required"
        v-slot="{ errors }"
      >
        <label for="">First Start:</label><br />
        <datetime
          class="form-group"
          type="datetime"
          v-model="start_date"
          format="yyyy-MM-dd HH:mm:ss"
        ></datetime>
        <span>{{ errors[0] }}</span>
      </ValidationProvider>

      <br />
      <div class="form-row">
        <div
          class="form-group col-md-4 input-append"
          style="margin-bottom:10px"
        >
          <label for="addhour">
            Time in Hour
          </label>
          <input
            type="number"
            class="form-control"
            v-model="hour"
            min="0"
            max="12"
            step="1"
            placeholder="Select Hour"
          />
          <br />
        </div>
        <div
          class="form-group col-md-4 input-append"
          style="margin-bottom:10px"
        >
          <ValidationProvider
            name="Minutes"
            rules="required|integer"
            v-slot="{ errors }"
          >
            <label for="addminute">
              Time in Minutes
            </label>
            <input
              type="number"
              class="form-control"
              name="addminute"
              v-model="minute"
              min="0"
              max="60"
              step="5"
              placeholder="Select Minute"
            />
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
          <br />
        </div>

        <div
          class="form-group col-md-4 input-append"
          style="margin-bottom:10px"
        >
          <ValidationProvider
            name="Seconds"
            rules="required|integer"
            v-slot="{ errors }"
          >
            <label for="addsecond">
              Time in Seconds
            </label>
            <input
              type="number"
              class="form-control"
              name="addsecond"
              v-model="second"
              min="0"
              max="60"
              step="5"
              placeholder="Select Second"
            />
            <span>{{ errors[0] }}</span>
          </ValidationProvider>

          <br />
        </div>
        <label for="addselectrepeat">Repeat</label>
        <select class="form-control" v-model="repeat_type" :required="true">
          <option value="0">Once</option>
          <option value="1">Daily</option>
          <option value="2">Weekly</option>
          <option value="3">Monthly</option>
          <option value="4">Yearly</option>
        </select>
        <br />
        <div v-if="repeat_type == '1'" class="col-sm-9 col-xs-12">
          <ValidationProvider
            name="at least one day"
            rules="required"
            v-slot="{ errors }"
          >
            <label class="middle day_of_week sunday">
              <input type="checkbox" value="su" v-model="weekDays" />
              <span class="lbl">su</span>
            </label>
            <label class="middle day_of_week monday">
              <input type="checkbox" value="mo" v-model="weekDays" />
              <span class="lbl">mo</span>
            </label>
            <label class="middle day_of_week tuesday">
              <input type="checkbox" value="tu" v-model="weekDays" />
              <span class="lbl">tu</span>
            </label>
            <label class="middle day_of_week wednesday">
              <input type="checkbox" value="we" v-model="weekDays" />
              <span class="lbl">we</span>
            </label>
            <label class="middle day_of_week thursday">
              <input type="checkbox" value="th" v-model="weekDays" />
              <span class="lbl">th</span>
            </label>
            <label class="middle day_of_week friday">
              <input type="checkbox" value="fr" v-model="weekDays" />
              <span class="lbl">fr</span>
            </label>
            <label class="middle day_of_week saturday">
              <input type="checkbox" value="sa" v-model="weekDays" />
              <span class="lbl">sa</span>
            </label>
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
      </div>
      <div v-if="repeat_type != '0'">
        <ValidationProvider
          name="Repeat until"
          rules="required"
          v-slot="{ errors }"
        >
          <label for="addfirststart">Repeat Until </label>
          <datetime
            class="form-group"
            type="datetime"
            v-model="repeat_until"
            format="yyyy-MM-dd HH:mm:ss"
          ></datetime>
          <span>{{ errors[0] }}</span>
        </ValidationProvider>
        <br />
      </div>
      <button type="submit">Submit</button>
    </form>
  </ValidationObserver>
</template>

<script>
import { Datetime } from "vue-datetime";

export default {
  components: {
    Datetime
  },
  data() {
    return {
      modal_title: "",
      repeat_type: "0",
      weekDays: [],
      content_type: "",
      selected_content: null,
      start_date: null,
      hour: "0",
      minute: "",
      second: null,
      repeat_until: null,
      submitStatus: null
    };
  },
  methods: {
    onSubmit() {
      alert("Form has been submitted!");
    }
  }
};
</script>

<style lang="stylus" scoped>
span {
  display: block;
}
</style>
