<template>
  <div class="fullcalendar">
    <simple-modal v-model="showModal" @click = "close" title="Add Event">
      <template slot="body">
        <ValidationObserver v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <ValidationProvider
        name="Content type"
        rules="required"
        v-slot="{ errors }"
      >
        <label for="">Select Content Type</label>
        <select name="content_type" class="form-control" v-model="content_type">
          <option value="" selected="true" disabled="disabled"
            >Select an Option</option
          >
          <option value="pl">Playlist</option>
          <option value="me">Media</option>
          <option value="ap">App</option>
        </select>
        <span>{{ errors[0] }}</span>
      </ValidationProvider>
      <br />

      <label for="">Content</label>
      <select
        name="selected_content"
        v-model="selected_content"
        class="form-control"
      >
      </select>
      <br />
      <ValidationProvider
        name="First Start"
        rules="required"
        v-slot="{ errors }"
      >
        <label for="">First Start:</label><br />
        <datetime
          class="form-group"
          type="datetime"
          v-model="start_date"
          format="yyyy-MM-dd HH:mm:ss"
        ></datetime>
        <span>{{ errors[0] }}</span>
      </ValidationProvider>

      <br />
      <div class="form-row">
        <div
          class="form-group col-md-4 input-append"
          style="margin-bottom:10px"
        >
          <label for="addhour">
            Time in Hour
          </label>
          <input
            type="number"
            class="form-control"
            v-model="hour"
            min="0"
            max="12"
            step="1"
            placeholder="Select Hour"
          />
          <br />
        </div>
        <div
          class="form-group col-md-4 input-append"
          style="margin-bottom:10px"
        >
          <ValidationProvider
            name="Minutes"
            rules="required|integer"
            v-slot="{ errors }"
          >
            <label for="addminute">
              Time in Minutes
            </label>
            <input
              type="number"
              class="form-control"
              name="addminute"
              v-model="minute"
              min="0"
              max="60"
              step="5"
              placeholder="Select Minute"
            />
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
          <br />
        </div>

        <div
          class="form-group col-md-4 input-append"
          style="margin-bottom:10px"
        >
          <ValidationProvider
            name="Seconds"
            rules="required|integer"
            v-slot="{ errors }"
          >
            <label for="addsecond">
              Time in Seconds
            </label>
            <input
              type="number"
              class="form-control"
              name="addsecond"
              v-model="second"
              min="0"
              max="60"
              step="5"
              placeholder="Select Second"
            />
            <span>{{ errors[0] }}</span>
          </ValidationProvider>

          <br />
        </div>
        <label for="addselectrepeat">Repeat</label>
        <select class="form-control" v-model="repeat_type" :required="true">
          <option value="0">Once</option>
          <option value="1">Daily</option>
          <option value="2">Weekly</option>
          <option value="3">Monthly</option>
          <option value="4">Yearly</option>
        </select>
        <br />
        <div v-if="repeat_type == '1'" class="col-sm-9 col-xs-12">
          <ValidationProvider
            name="at least one day"
            rules="required"
            v-slot="{ errors }"
          >
            <label class="middle day_of_week sunday">
              <input type="checkbox" value="su" v-model="weekDays" />
              <span class="lbl">su</span>
            </label>
            <label class="middle day_of_week monday">
              <input type="checkbox" value="mo" v-model="weekDays" />
              <span class="lbl">mo</span>
            </label>
            <label class="middle day_of_week tuesday">
              <input type="checkbox" value="tu" v-model="weekDays" />
              <span class="lbl">tu</span>
            </label>
            <label class="middle day_of_week wednesday">
              <input type="checkbox" value="we" v-model="weekDays" />
              <span class="lbl">we</span>
            </label>
            <label class="middle day_of_week thursday">
              <input type="checkbox" value="th" v-model="weekDays" />
              <span class="lbl">th</span>
            </label>
            <label class="middle day_of_week friday">
              <input type="checkbox" value="fr" v-model="weekDays" />
              <span class="lbl">fr</span>
            </label>
            <label class="middle day_of_week saturday">
              <input type="checkbox" value="sa" v-model="weekDays" />
              <span class="lbl">sa</span>
            </label>
            <span>{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
      </div>
      <div v-if="repeat_type != '0'">
        <ValidationProvider
          name="Repeat until"
          rules="required"
          v-slot="{ errors }"
        >
          <label for="addfirststart">Repeat Until </label>
          <datetime
            class="form-group"
            type="datetime"
            v-model="repeat_until"
            format="yyyy-MM-dd HH:mm:ss"
          ></datetime>
          <span>{{ errors[0] }}</span>
        </ValidationProvider>
        <br />
      </div>
      <button type="submit">Submit</button>
    </form>
  </ValidationObserver>
      </template>
    </simple-modal>
    <FullCalendar
      defaultView="dayGridMonth"
      ref="fullCalendar"
      selectable="true"
      slotDuration="00:15:00"
      :header="{
        left: 'prev,next today',
        center: 'title',
        right: 'addEventButton,dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      :customButtons="{
        addEventButton: {
          text: 'Add Event',
          click: function() {
            showModal = true;
          }
        }
      }"
      :plugins="calendarPlugins"
      :events="calendarEvents"
      @dateClick="handleDateClick"
      @eventClick="editSchedule"
      @select="handleSelect"
    />
  </div>
</template>

<script>
import FullCalendar from "@fullcalendar/vue";
import dayGridPlugin from "@fullcalendar/daygrid";
import timeGridPlugin from "@fullcalendar/timegrid";
import interactionPlugin from "@fullcalendar/interaction";
import rrulePlugin from "@fullcalendar/rrule";
import SimpleModal from "simple-modal-vue";
import { Datetime } from "vue-datetime";
import { required } from "vuelidate/lib/validators";
import "vue-datetime/dist/vue-datetime.css";
import axios from "axios";

import { toMoment } from '@fullcalendar/moment';

export default {
  components: {
    FullCalendar,
    SimpleModal,
    Datetime
  },
  data() {
    return {
      modal_title:"",
      event_id:"",
      repeat_type: "0",
      weekDays: [],
      content_type: "",
      selected_content: null,
      start_date: null,
      hour: "0",
      minute: "",
      second: "",
      repeat_until: null,
      submitStatus: null,
      calendarPlugins: [
        dayGridPlugin,
        timeGridPlugin,
        interactionPlugin,
        rrulePlugin
      ],
      showModal: false,
      contentValue:[],
      calendarEvents:[]
    }
  },
  validations: {
    start_date: {
      required
    },
    minute: {
      required
    },
    second: {
      required
    },
    content_type: {
      required
    }
  },
  methods: {
    handleDateClick(arg) {
      let calendarApi = this.$refs.fullCalendar.getApi();
      calendarApi.gotoDate(arg.dateStr);
      calendarApi.changeView("timeGridDay");
    },
     onSubmit() {
      alert("Form has been submitted!");
    },
    close(){
      alert("closedd");
    },

    handleSelect(arg) {
      let calendarApi = this.$refs.fullCalendar.getApi();
      let viewType = arg.view.type;
      if (viewType != "dayGridMonth") {
        calendarApi.gotoDate(arg.dateStr);
        calendarApi.changeView("timeGridDay");
      }
    },
    editSchedule(arg){
      var timeschedule = arg.event.extendedProps.time_duration
      this.hour = Math.floor(timeschedule/ 3600)
      this.minute = Math.floor(timeschedule % 3600 / 60)
      this.second = Math.floor(timeschedule % 3600 % 60)
      this.content_type=arg.event.extendedProps.content_type
      this.repeat_type = arg.event.extendedProps.repeat
      this.event_id = arg.event.id
      this.onChange(this.content_type)
      this.selected_content = arg.event.extendedProps.selected_content
      this.weekDays = arg.event.extendedProps.weekdays
      this.repeat_until = arg.event.extendedProps.repeat_until
      this.start_date = arg.event.start
      this.showModal = !this.showModal
    },
    onChange(event){
        var event_type = event
        axios.get('http://127.0.0.1:8000/media-or-playlist/',{
          params:{
            'type':event_type
          }
        })
    .then(response => this.content_select(response))
    },
    content_select(response){
        this.contentValue = response.data
    },
    onClose(){
      alert(" ia m claosed")
    },
    submit() {
      let calendarApi = this.$refs.fullCalendar.getApi();
      // console.log("submit!");
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.submitStatus = "PENDING";
        setTimeout(() => {
          let formdata = []
          let total_duration = parseInt(this.hour * 3600)+parseInt(this.minute * 60)+parseInt(this.second)
          formdata.push({
            'event_id':this.event_id,
            'content_type':this.content_type,
            'selected_content':this.selected_content,
            'first_start':toMoment(this.start_date, calendarApi).format('YYYY-MM-DD HH:mm:ss'),
            'total_duration':total_duration,
            'repeat':this.repeat_type,
            'repeat_until':toMoment(this.repeat_until, calendarApi).format('YYYY-MM-DD HH:mm:ss'),
            'weekdays':this.weekDays, 
          })
          this.addEvent(formdata)      
        }, 500);
      }
    },
    addEvent(schedule){
      
      window.console.log(schedule)
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fullcalendar {
  display: flex;
}
.error{
  color: red;
}
</style>
