<template>
  <div id="app">
    <HelloWorld />
  </div>
</template>

<script>
// import AxiosSample from './components/AxiosSample.vue'
// import FormValidation from './components/FormValidation.vue'
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'app',
  components: {
    HelloWorld
  }
}
</script>

<style>

</style>
